<a href="https://colab.research.google.com/github/ergonrizky26/control_flow_exercise/blob/main/Control_Flow_Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Keluarkan dan tampilkan menggunakan print semua anggota list pada sel dibawah

In [1]:
#kerjakan soal no.1 pada sel berikut ini
#contoh list = [1,2,3]
#contoh hasil
#1
#2
#3

data_list = ['bandung', 'jakarta', 'semarang', 'palembang']

for city in data_list:
  print(city)

bandung
jakarta
semarang
palembang

2. Keluarkan dan tampilkan menggunakan metode print anggota list dengan tipe numerik (int & float) dari list pada sel di bawah

In [3]:
#kerjakan soal no.2 pada sel berikut ini
#contoh list = ['a', 1]
#contoh hasil :
#1

data_list_2 = [100, 'makassar', 15.5, True, "20"]

for data in data_list_2:
  if type(data) == int or type(data) == float:
    print(data)

100
15.5

3. Buat sebuah kode if else yang dapat menyatakan apakah suatu bilangan ganjil atau genap.

In [5]:
#kerjakan soal no.3 disini

number = 9

#hint
'''
if ... :
    print(...)
else ...:
    print(...)
'''
#hasil yang diharapkan
#ganjil

if number % 2 == 0:
  print("genap")
else:
  print("ganjil")

ganjil

4. Kalikan semua anggota list_1 terhadap anggota ganjil pada list_2. tampilkan hasilnya

In [9]:
#kerjakan soal no.4 pada sel berikut ini
list_1 = [1,2,3,4,5]
list_2 = [2,3,6,8,9]


#hasil yang diharapkan
'''
3
9
6
18
9
27
12
36
15
45
'''

# melakukan iterasi terhadap dua list tersebut
# melakukan iterasi list_1 terhadap list_2
for num in list_1:
  for num_2 in list_2:
    if num_2 % 2 != 0:
      print(num * num_2)

3
9
6
18
9
27
12
36
15
45

5. lakukan pengecekan apakah terdapat angka pada tiap2 anggota list. lalu tampilkan sesuai format yang diminta

In [16]:
#kerjakan soal no.5 pada sel berikut ini
#contoh list = ['ada', 'ganesa10']
#contoh hasil:
#ada tidak memiliki angka
#ganesa10 memiliki angka

data_list_3 = ['asda8asd', 'bandunglautanapi', 'washingt0nDC']

for word in data_list_3:
  status = False
  for alphabet in word:
    if alphabet.isnumeric():
      status = True
      break
  if status:
    print(f'{word} memiliki angka')
  else:
    print(f'{word} tidak memiliki angka')

asda8asd memiliki angka
bandunglautanapi tidak memiliki angka
washingt0nDC memiliki angka

6. Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [22]:
#kerjakan soal no.6 pada sel berikut ini

data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

#hasil yang diharapkan
#['Budi', 'Rudi', 'Leo']
siswa_lulus = []
for siswa in data_siswa:
  if siswa["nilai"] >= 80:
    siswa_lulus.append(siswa["nama"])
print(siswa_lulus)

['Budi', 'Rudi', 'Leo']